@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaRegular.eot');
    src: url('../fonts/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaRegular.woff') format('woff'),
         url('../fonts/ProximaNovaRegular.ttf') format('truetype'),
         url('../fonts/ProximaNovaRegular.svg#webfont') format('svg');
 }
 body{
     background-color: #8a7e7e;
     padding: 0;
     margin: 0;
 }
 #bg-heder{
     width: 1000px;
     height: 600px;
     margin: 0 auto;
     background-color: #464f54;
 }
 .heder-top{
     background-color: black;
     width: 660px;
     margin-left: 300px;
     display: block;
     position: absolute;
     margin-top: 20px;
     z-index: 3;
     padding-left: 40px;
     height: 120px;
 }
 .title{
     color :silver;
     font-size: 15px;
     letter-spacing: 3px;
     padding-top: 20px;
     font-family: monospace;
     
 }
 .text-like{
     color: white;
     font-size: 40px;
     
     
 }
 p{
     padding: 0px;
     margin: 0;
 }
 hr{
    color: #303030;
    height: 1px;
 }
 .icon{
     background-color: orange;
     width: 650px;
     position: absolute;
     margin-top: 140px;
     margin-left: 350px;
     z-index: 3;
     height: 40px;
 }
 .content{
     background-color: white;
     width: 900px;
     height: 540px;
     position: absolute;
     margin-top: 60px;
     margin-left: 50px;
     z-index: 1;
     
 }
 .title-content{
    color :silver;
    font-size: 18px;
    letter-spacing: 3px;
    padding-left: 60px;
    font-family: monospace;
    margin-top: 110px;
 }
 .title-big{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    padding-left: 60px;
    color: #2a2a2a;
    font-family: sans-serif;
 }
 .title-content-silver{
    color :silver;
    font-size: 20px;
    padding-left: 60px;
    font-family: system-ui;
    font-style: italic;
 }
 .text{
    padding-left: 60px;
    font-size: 20px;
    width: 670px;
    margin-top: 10px;
 }
 span{
    font-style: italic;
 }
 .fa{
     color: white;
     padding: 12px;
     opacity: 0.6;
     
 }
 .linea{
    margin-left: 67px;
    border-left: 2px solid #e8eced;
    height: 89%;
    padding-top: 53px;
 }
.fa:hover{
    opacity: 1;
}